<div id="directory_delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><p id="directory_delete_title"></p></h4>
      </div>
      <div class="modal-body"><%= t('confirm_are_you_sure_text') %></div>
      <div class="modal-footer">
        <span id=directory_delete_actions></span>
        <button id="directory_delete_button_no" type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> <%= t('no_title') %>
        </button>
      </div>
    </div>
  </div>
</div>
