<div id="password_show_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-lock"></i> <span id="password_show_label"></span></h4>
      </div>
      <div class="modal-body">
        <div class="row password_show_row">
          <div class="col-lg-2"><label>Description</label></div>
          <div id="password_show_description_value" class="col-lg-8"></div>
          <div id="password_show_description_buttons" class="col-lg-2"></div>
        </div>
        <div class="row password_show_row">
          <div class="col-lg-2"><label>Account</label></div>
          <div id="password_show_account_value" class="col-lg-8"></div>
          <div id="password_show_account_buttons" class="col-lg-2"></div>
        </div>
        <div class="row password_show_row">
          <div class="col-lg-2"><label>Password</label></div>
          <div id="password_show_password_value" class="col-lg-8"></div>
          <div id="password_show_password_buttons" class="col-lg-2"></div>
        </div>
        <div class="row password_show_row">
          <div class="col-lg-2"><label>E-mail</label></div>
          <div id="password_show_email_value" class="col-lg-8"></div>
          <div id="password_show_email_buttons" class="col-lg-2"></div>
        </div>
        <div class="row password_show_row">
          <div class="col-lg-2"><label>Url</label></div>
          <div id="password_show_url_value" class="col-lg-8"></div>
          <div id="password_show_url_buttons" class="col-lg-2"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
