<div id="password_delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><p id="password_delete_title"></p></h4>
      </div>
      <div class="modal-body">Are you sure?</div>
      <div class="modal-footer">
        <span id=password_delete_actions></span>
        <button id="password_delete_button_no" type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> No
        </button>
      </div>
    </div>
  </div>
</div>
