<div id="password_copy_to_move_to_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><p id="password_copy_to_move_to_title"></p></h4>
      </div>
      <div class="modal-body">
        <p id="password_copy_to_move_to_alert_container"></p>
        <label for="password_copy_to_move_to_passwords_list"> Passwords</label>
        <ul id="password_copy_to_move_to_passwords_list"></ul>
        <br />
        <label for="password_copy_to_move_to_directory"> To directory</label>
        <select id="password_copy_to_move_to_directory" class="form-control"></select>
      </div>
      <div class="modal-footer">
        <span id="password_copy_to_move_to_actions"></span>
        <button id="password_copy_to_move_to_button_no" type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> No
        </button>
      </div>
    </div>
  </div>
</div>
