<div id="password_delete_all_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><p id="password_delete_all_title"></p></h4>
      </div>
      <div class="modal-body">
        <p id="password_delete_all_alert_container"></p>
        <ul id="password_delete_all_passwords_list">
        </ul>
      </div>
      <div class="modal-footer">
        <span id="password_delete_all_actions"></span>
        <button id="password_delete_all_button_no" type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> <%= t('no_title') %>
        </button>
      </div>
    </div>
  </div>
</div>
