<% provide(:title, t('directory_entries.directories_passwords_title')) %>
<section class="content-header">
  <h1><i class="fa fa-lock"></i> <%= t('directory_entries.directories_passwords_subtitle') %></h1>
</section>

<section class="content">
  <div class="row">
    <%= render "directory_entries/directory_path" %>
  </div>
  <div class="row">
    <%= render "directory_entries/left_side" %>
    <%= render "directory_entries/right_side" %>
  </div>
</section>
