<section class="col-md-9">
  <div class="box box-info">
    <div class="box-body">
      <div id="password_list_section">
        <table id="password_list_items" class="table table-hover">
          <thead>
            <tr>
              <th class="center">
                <i id="checkbox_all" class="fa fa-check" title="Select or deselect all"></i>
              </th>
              <th class="center">#</th>
              <th class="center">Label</th>
              <th class="center">Description</th>
              <th class="center">Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
